<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/myNav.css" />
        <link rel="stylesheet" href="~/css/mySite.css" />
    </environment>
    <environment exclude="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/myNav.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/mySite.min.css" asp-append-version="true" />
    </environment>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135382660-4"></script>
    <meta name="description" content="Victor Welch Great Adventures in Web Development" />
</head>
<body>
    <!-- *******************************************************************************************  -->
    <div id="divSplash" style="z-index: 1999;position: absolute;text-align:center;top: 0;left: 0;width:100%;height:100%;">
        <div id="divSplashBackground" class="container" style="background: url(../images/bgDamascus03.png) repeat;position: relative;height: 100%;margin-right: auto;margin-left: auto;"></div>
    </div>
    <!-- *******************************************************************************************  -->
    <div id="wrap" >
        <div class="container navbar-fixed-top" style="padding:0;">
            <span class="preload1"></span><span class="preload2"></span>
            <div class="navbar navbar-inverse myNavbar">
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle myNavbarToggle"
                            data-toggle="collapse"
                            data-target=".myNavbarCollapse"
                            onclick="$(this).closest('div.myNavbar').toggleClass('myNoBottomBorder');
                                 $('.myNavTop').last().toggleClass('myBottomBorder');">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="mySpanNav">
                        <a href=@Url.Action("Index", "Home") class="navbar-brand myNavbarBrand mySpanNavTop_link">
                            <span>victorwelch.com</span>
                        </a>
                    </span>
                </div>
                <div class="navbar-collapse collapse myNavbarCollapse width">
                    <ul class="myNav nav navbar-nav myNavTop" style="height:35px;">
                        <li class="myNavTop">
                            <a href=@Url.Action("Index", "Home") class="myNavTop_link">
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="myNavTop">
                            <a href=@Url.Action("About", "Home") class="myNavTop_link">
                                <span>About</span>
                            </a>
                        </li>
                        <li class="myNavTop">
                            <a href=@Url.Action("Contact", "Home") class="myNavTop_link">
                                <span>Contact</span>
                            </a>
                        </li>
                    </ul>
                    <!-- -->
                </div>
            </div>
        </div>

        <partial name="_CookieConsentPartial" />

        <div id="myContainer" class="container body-content myContainer"
             style="border-right:solid 15px #000;border-left:solid 15px #000;min-height: 100%;
                   height: 100%;margin:0 auto -15px;bottom:15px;">
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        <div class="container" style="border-top: 1px solid #000; background-color: #000;">
            <p class="text-muted credit">
                Copyright &#64; 2015
                <script type="text/javascript">new Date().getFullYear() > 2015 && document.write("-" + new Date().getFullYear());</script> Victor C. Welch, all rights reserved.
            </p>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/myjquery/jquery.myCommonPlugin.js"></script>
        <script src="~/lib/myjquery/jquery.myCubeCarouselPlugin.js"></script>
        <script src="~/lib/myjquery/jquery.myInfoImgPlugin.js"></script>
        <script src="~/lib/myjquery/jquery.mySkinnyPlugin.js"></script>
        <script src="~/lib/myjquery/jquery.myUtilPlugin.js"></script>
        <script src="~/lib/myjquery/modernizr-3.4.0.js"></script>
        <script src="~/lib/myjquery/myUtil.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.4.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery.validate.unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/myjquery/jquery.myCommonPlugin.min.js"></script>
        <script src="~/lib/myjquery/jquery.myCubeCarouselPlugin.min.js"></script>
        <script src="~/lib/myjquery/jquery.myInfoImgPlugin.min.js"></script>
        <script src="~/lib/myjquery/jquery.mySkinnyPlugin.min.js"></script>
        <script src="~/lib/myjquery/jquery.jquery.myUtilPlugin.min.js"></script>
        <script src="~/lib/myjquery/modernizr-3.4.0.min.js"></script>
        <script src="~/lib/myjquery/myUtil.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <!-- *******************************************************************************************  -->
    <div id="divBodyCover" style="z-index:99;background:white;opacity:.1;position:absolute;top:0;left:0;width:100%;height:100%;display:none;"></div>
    <!-- *******************************************************************************************  -->
    <div id="divHiddenWorkSpace" style="z-index:1;display:none;">
    </div>
</body>
</html>
