@{
  ViewData["Title"] = "VictorWelch.Com: States";
}
@section css {
  <link href="@Url.Content("~/css/myStatesDemo.css")" rel="stylesheet" />
}
@section Scripts {
  <script src="~/js/ejs.js"></script>
  <script src="~/lib/myjquery/vw$util.js"></script>
  <script src="~/lib/myjquery/uTblDndPlugin.js"></script>
  <script src="~/lib/js4view/StatesOne.js"></script>
}
<div id="jumbo2" class="jumbotron">
  <div id="divTlineJumboCollapsed00" class="myJumboCollapsedTopBotLine" style="display:block;"></div>
  <div id="divBlineJumboCollapsed00" class="myJumboCollapsedTopBotLine" style="display:block;"></div>
  <div id="divLlineJumboCollapsed00" class="myJumboCollapsedLeftRightLine" style="display:block;"></div>
  <div id="divRlineJumboCollapsed00" class="myJumboCollapsedLeftRightLine" style="display:block;"></div>
  <div id="divUlCrnrJumboCollapsed00" class="myJumboCollapsedCrnr myUlCrnrImage" style="display:block;"></div>
  <div id="divUrCrnrJumboCollapsed00" class="myJumboCollapsedCrnr myUrCrnrImage" style="display:block;"></div>
  <div id="divLlCrnrJumboCollapsed00" class="myJumboCollapsedCrnr myLlCrnrImage" style="display:block;"></div>
  <div id="divLrCrnrJumboCollapsed00" class="myJumboCollapsedCrnr myLrCrnrImage" style="display:block;"></div>
  <div id="divVwBanner00" style="display:block;"></div>
  <div id="divCollapsedHeaderLine00" style="display:block;"></div>
  <div id="divCollapsedHeaderLeft00" class="collapsedHdrLeftRight" style="display:block;"></div>
  <div id="divCollapsedHeaderRight00" class="collapsedHdrLeftRight" style="display:block;"></div>
</div>
<div id="myRow0" class="row myRow myRow0Class">
  <div id="col0" class="col-md-12">
    <div id="divTlineBrdrContainer01" class="myBrdrContainerTopBotLine"></div>
    <div id="divBlineBrdrContainer01" class="myBrdrContainerTopBotLine"></div>
    <div id="divLlineBrdrContainer01" class="myBrdrContainerLeftRightLine"></div>
    <div id="divRlineBrdrContainer01" class="myBrdrContainerLeftRightLine"></div>
    <div id="divUlCrnrBrdrContainer01" class="myBrdrContainerCrnr myUlCrnrImage"></div>
    <div id="divUrCrnrBrdrContainer01" class="myBrdrContainerCrnr myUrCrnrImage"></div>
    <div id="divLlCrnrBrdrContainer01" class="myBrdrContainerCrnr myLlCrnrImage"></div>
    <div id="divLrCrnrBrdrContainer01" class="myBrdrContainerCrnr myLrCrnrImage"></div>
    <div id="divCol0Wrap" class="col0Wrap">
      <div id="divInstrContainer" class="instrContainer">
        <div id="divInstrInner" class="instrInner">
          <section id="secInstrContainer">
            <div id="divInstr0" class="divInstrZero">
              <div id="divInstBackground" class="instrBackground">
                <div class="dndTitleV1"></div>
                <div class="welcomePanel" style="text-align:center;"><span>Welcome to a drag and drop demo, in the guise of a game!</span></div>
                <div class="ulContainer">
                  <ul class="ulInstr">
                    <li class="liInstr">Upon hitting the start button below, you will be presented with the names of U.S. States in random order – and a timer will start!</li>
                    <li class="liInstr">State names that by chance land in their sort order position are removed from play and appear as faded entries.</li>
                    <li class="liInstr">Select a state by clicking its icon and holding the mouse button down.
                    <li class="liInstr">
                      Drag the state to its new position, and drop it by releasting the mouse button.
                    </li>
                  </ul>
                </div>
                <div class="tblContainer">
                  <table class="table table-responsive tblInstr">
                    <tr id="trVideoButton">
                      <td align="right">To view a video of a move in the game, select this button: </td>
                      <td><a id="aViewVideo" class="btn btn-default btn-custom-vw ml" href="" onclick="clickHandler(event); return false;">View Instruction Video &raquo;</a></td>
                    </tr>
                    <tr id="trStartGameButton">
                      <td align="right">To start the game, select this button: </td>
                      <td><a id="aStartGame" class="btn btn-default btn-custom-vw ml" href="" onclick="clickHandler(event); return false;">Start Game &raquo;</a></td>
                    </tr>
                  </table>
                </div>
                <div id="divNoteContainer" class="noteContainer">
                  <div class="noteHeader">Notes:</div>
                  <div class="noteInfo">
                    <p>
                      HTML table element based <b><i>Drag and Drop</i></b> has been around for a long time.  It is implemented here using
                      a browser's <b><i>"mousedown"</i></b>, <b><i>"mousemove"</i></b> and <b><i>"mouseup"</i></b> events, in conjunction with basic HTML document object model functionality and a heavy dose of <b><i>jQuery</i></b>.
                    </p>
                    <p>
                      This technique is actually quite combersome, with a lot of fiddling with table rows.  The other Drag and Drop demos attempt to leverage the functionality of UI frameworks for improved implementation.
                    </p>
                    <p>
                      Still, I admit to being rather pleased with the result.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div id="divAnimInstr" style="text-align:center;width:100%;display:none;" notshow="true">
              <div style="display:inline-block;">
                <div>
                  <video id="videoCtrl" width="640" height="419" controls muted preload="auto">
                    <source src="~/images/dndInstrShort.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div id="spacerdiv0" style="clear:both;position:relative;top:0;left:0;background-color:transparent;z-index:1;display:none;text-align:center;">
      <img id="spacerimg0" src="~/images/spacer.gif" height="1" width="1" style="position:absolute;top:0;left:0;z-index:1;display:none;" />
    </div>
  </div>
</div>
<div id="myRowScore" class="row myRow rowScore" notshow="true">
  <div id="divScoreContainer" class="scoreContainer">
    <div class="scoreContainerOutline">
      <div class="scoreContainerInner">
        <table id="scoreTbl" style="border-collapse:collapse;display:inline-block;border:none;">
          <tr>
            <td align="center" style="width:32%">
              <a id="aNewGame" class="btn btn-default btn-custom-vw fs" href="" onclick="clickHandler(event); return false;"><span>Start A New Game &raquo;</span></a>
            </td>
            <td align="center" style="width:34%">
              <div id="divDummy" class="timerInfo"><span>00:00:00.000</span></div>
            </td>
            <td align="center" style="width:32%">
              <a id="aAutoSort" class="btn btn-default btn-custom-vw fs" href="" onclick="clickHandler(event); return false;"><span>Auto Sort States &raquo;</span></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="myRow1" class="row myRow statesRowOne">
  <div class="col-md-12">
    <div class="statesContainer">
      <table width="100%" style="margin-top:10px;">
        <tr>
          <td id="col1" style="vertical-align: top;text-align:right;">
            <div id="divCol1Wrap" style="clear:both;position:relative;top:0;left:0;">
            </div>
            <div id="spacerdiv1" style="clear:both;position:relative;top:0;left:0;background-color:transparent;z-index:1;display:none;">
              <img id="spacerimg1" src="~/images/spacer.gif" height="1" width="1" style="position:absolute;top:0;left:0;z-index:1;display:none;" />
            </div>
          </td>
          <td id="col2" style="vertical-align: top;text-align:center;">
            <div id="divCol2Wrap" style="clear:both;position:relative;top:0;left:0">
            </div>
            <div id="spacerdiv2" style="clear:both;position:relative;top:0;left:0;background-color:transparent;z-index:1;display:none;">
              <img id="spacerimg2" src="~/images/spacer.gif" height="1" width="1" style="position:absolute;top:0;left:0;z-index:1;display:none;" />
            </div>
          </td>
          <td id="col3" style="vertical-align: top;text-align:left;">
            <div id="divCol3Wrap" style="clear:both;position:relative;top:0;left:0;">
            </div>
            <div id="spacerdiv3" style="clear:both;position:relative;top:0;left:0;background-color:transparent;z-index:1;display:none;">
              <img id="spacerimg3" src="~/images/spacer.gif" height="1" width="1" style="position:absolute;top:0;left:0;z-index:1;display:none;" />
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
