
@{
    ViewData["Title"] = "VictorWelch.Com: States Two";
}
@section Scripts {
    <script src="~/js/ejs.js"></script>
    <script src="~/lib/myjquery/vw$util.js"></script>
    <script src="~/lib/myjquery/uTblDndPlugin.js"></script>
    <script src="~/lib/js4view/StatesTwo.js"></script>
}
<h2>StatesTwo</h2>

