@{
    ViewData["Title"] = "VictorWelch.com: Contact";
}
@{
    ViewBag.Title = "VictorWelch.com: Contact";
}

@section Scripts {
    <script src="~/lib/myjquery/vw$util.js"></script>
    <script src="~/lib/js4view/Contact.js"></script>
 }

    <div id="divBrdrContainer" style="border:1px solid transparent;position:relative;margin:0px;padding:0px;">
        <div id="divTlineBrdrContainer00" class="myBrdrContainerTopBotLine"></div>
        <div id="divBlineBrdrContainer00" class="myBrdrContainerTopBotLine"></div>
        <div id="divLlineBrdrContainer00" class="myBrdrContainerLeftRightLine"></div>
        <div id="divRlineBrdrContainer00" class="myBrdrContainerLeftRightLine"></div>
        <div id="divUlCrnrBrdrContainer00" class="myBrdrContainerCrnr myUlCrnrImage"></div>
        <div id="divUrCrnrBrdrContainer00" class="myBrdrContainerCrnr myUrCrnrImage"></div>
        <div id="divLlCrnrBrdrContainer00" class="myBrdrContainerCrnr myLlCrnrImage"></div>
        <div id="divLrCrnrBrdrContainer00" class="myBrdrContainerCrnr myLrCrnrImage"></div>
        <div id="jumbo1" class="jumbotron" style="margin:20px !important;min-height:unset;">
            <section id="secContainer">
                <div id="divInfoImg" class="infoImgClass">
                </div>
            </section>
        </div>
    </div>
    <div id="myRow" class="row myRow">
        <div id="col1" class="col-md-6 myColMd6Left">
            <div id="divTopLineCol1_00" class="myColTopBotLine myTopLineCol"></div>
            <div id="divBotLineCol1_00" class="myColTopBotLine myBotLineCol"></div>
            <div id="divLeftLineCol1_00" class="myColLeftRightLine myLeftLineCol"></div>
            <div id="divRightLineCol1_00" class="myColLeftRightLine myRightLineCol"></div>
            <div id="divUlCol1_00" class="myColCorner myUlCrnrImage myUlColCorner"></div>
            <div id="divUrCol1_00" class="myColCorner myUrCrnrImage myUrColCorner"></div>
            <div id="divLlCol1_00" class="myColCorner myLlCrnrImage myLlColCorner"></div>
            <div id="divLrCol1_00" class="myColCorner myLrCrnrImage myLrColCorner"></div>
            <div id="divCol1Wrap" style="clear:both;position:relative;top:0;left:0;">
                <div id="divEmailInput">
                    <div class="myColTextDiv" style="position:relative;">
                        <h2>Send Email:</h2>
                        <div>
                            <span class="form-control-static"> Subject: </span>
                            <div id="divVwSubjectErr" class="d-none" notshow="true">
                                <span class="text-danger field-validation-error">
                                    <span>*Subject is required...</span>
                                </span>
                            </div>
                            <div>
                                @Html.TextBox("VwSubject", "", new { @class = "form-control" })
                            </div>
                            <br />
                            <span class="form-control-static"> Message: </span>
                            <div id="divVwMessageErr" class="d-none" notshow="true">
                                <span class="text-danger field-validation-error">
                                    <span>*Message is required...</span>
                                </span>
                            </div>
                            <div>
                                @Html.TextArea("VwMessage", "", new { @class = "form-control", rows = "8" })
                            </div>
                            <br />
                            <a id="aSendEmail" class="btn btn-default btn-custom-vw" href="" onclick="clickHandler(event); return false;" style="margin-right:15px;">Send &raquo;</a>
                        </div>
                    </div>
                    <div id="divExtra1" style="clear:both;position:relative;top:0;left:0;background-color:transparent;z-index:1;height:50px;">
                        <img id="imgExtra1" src="~/Images/spacer.gif" height="1" width="1" style="position:absolute;top:0;left:0;z-index:1;height:50px;" />
                    </div>
                </div>
                <div id="divWait" class="waitSpinner" style="display:none;" notshow="true">
                </div>
                <div id="divSuccess" style="display:none;padding-left:25px;" notshow="true">
                    <div class="myColTextDiv">
                        <h2>Email Sent!</h2>
                        <p>
                            <a id="aSendAnother" class="btn btn-default btn-custom-vw" href="" onclick="clickHandler(event); return false;" style="margin-right:15px;">Send Another &raquo;</a>
                            <br />&nbsp;
                        </p>
                    </div>
                </div>
                <div id="divFail" style="display:none;padding-left:25px;" notshow="true">
                    <div class="myColTextDiv">
                        <h2>Email Error!</h2>
                        <p><span id="spErrText" class="text-danger field-validation-error"></span></p>
                        <p>
                            <a id="aTryAgain" class="btn btn-default btn-custom-vw" href="" onclick="clickHandler(event); return false;" style="margin-right:15px;">Try Again &raquo;</a>
                            <br />&nbsp;
                        </p>
                    </div>
                </div>
            </div>
            <div id="spacerdiv1" style="clear:both;position:relative;top:0;left:0;background-color:transparent;z-index:1;display:none;">
                <img id="spacerimg1" src="~/Images/spacer.gif" height="1" width="1" style="position:absolute;top:0;left:0;z-index:1;display:none;" />
            </div>
        </div>
        <div id="col2" class="col-md-6 myColMd6Right">
            <div id="divTopLineCol2_00" class="myColTopBotLine myTopLineCol"></div>
            <div id="divBotLineCol2_00" class="myColTopBotLine myBotLineCol"></div>
            <div id="divLeftLineCol2_00" class="myColLeftRightLine myLeftLineCol"></div>
            <div id="divRightLineCol2_00" class="myColLeftRightLine myRightLineCol"></div>
            <div id="divUlCol2_00" class="myColCorner myUlCrnrImage myUlColCorner"></div>
            <div id="divUrCol2_00" class="myColCorner myUrCrnrImage myUrColCorner"></div>
            <div id="divLlCol2_00" class="myColCorner myLlCrnrImage myLlColCorner"></div>
            <div id="divLrCol2_00" class="myColCorner myLrCrnrImage myLrColCorner"></div>
            <div id="divCol2Wrap" style="clear:both;position:relative;top:0;left:0;">
                <div>
                    <h2 style="margin-left:25px">Other Contact Info:</h2>
                    <div class="myColTextDiv">
                        <p>For further information, to make comments, or just to say hello -- please feel free to drop a line at: <a href="mailto:victor@victorwelch.com"><b><i>victor@victorwelch.com</i></b></a></p>
                        <p>
                            Additionally, the following are my social media contacts:
                            <ul class="myInline">
                                <li>
                                    <a target="_blank" title="follow me on facebook" href="https://www.facebook.com/victorwelchcom"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook40x40.png" border=0></a>
                                </li>
                                <li>
                                    <a target="_blank" title="follow me on Twitter" href="https://www.twitter.com/VictorCWelch1"><img alt="follow me on twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter40x40.png" border=0></a>
                                </li>
                            </ul>
                        </p>
                    </div>
                    <div id="divExtra2" style="clear:both;position:relative;top:0;left:0;background-color:transparent;z-index:1;height:50px;">
                        <img id="imgExtra2" src="~/Images/spacer.gif" height="1" width="1" style="position:absolute;top:0;left:0;z-index:1;height:50px;" />
                    </div>
                </div>
            </div>
            <div id="spacerdiv2" style="clear:both;position:relative;top:0;left:0;background-color:transparent;z-index:1;display:none;">
                <img id="spacerimg2" src="~/Images/spacer.gif" height="1" width="1" style="position:absolute;top:0;left:0;z-index:1;display:none;" />
            </div>
        </div>
    </div>

