@{
  ViewData["Title"] = "VictorWelch.Com: Home";
}
@section Scripts {
  <script src="~/lib/myjquery/jquery.myCubeCarouselPlugin.js"></script>
  <script src="~/lib/js4view/Index.js"></script>
}
<div id="jumbo2" class="jumbotron">
  <div id="divTlineJumboCollapsed00" class="myJumboCollapsedTopBotLine"></div>
  <div id="divBlineJumboCollapsed00" class="myJumboCollapsedTopBotLine"></div>
  <div id="divLlineJumboCollapsed00" class="myJumboCollapsedLeftRightLine"></div>
  <div id="divRlineJumboCollapsed00" class="myJumboCollapsedLeftRightLine"></div>
  <div id="divUlCrnrJumboCollapsed00" class="myJumboCollapsedCrnr myUlCrnrImage"></div>
  <div id="divUrCrnrJumboCollapsed00" class="myJumboCollapsedCrnr myUrCrnrImage"></div>
  <div id="divLlCrnrJumboCollapsed00" class="myJumboCollapsedCrnr myLlCrnrImage"></div>
  <div id="divLrCrnrJumboCollapsed00" class="myJumboCollapsedCrnr myLrCrnrImage"></div>
  <div id="divVwBanner00"></div>
  <div id="divCollapsedHeaderLine00"></div>
  <div id="divCollapsedHeaderLeft00" class="collapsedHdrLeftRight"></div>
  <div id="divCollapsedHeaderRight00" class="collapsedHdrLeftRight"></div>
  <div id="divTabExpand00"></div>
</div>

<div id="divBrdrContainer" style="border:1px solid transparent;position:relative;margin:0px;padding:0px;">

  <div id="divTlineBrdrContainer00" class="myBrdrContainerTopBotLine"></div>
  <div id="divBlineBrdrContainer00" class="myBrdrContainerTopBotLine"></div>
  <div id="divLlineBrdrContainer00" class="myBrdrContainerLeftRightLine"></div>
  <div id="divRlineBrdrContainer00" class="myBrdrContainerLeftRightLine"></div>
  <div id="divUlCrnrBrdrContainer00" class="myBrdrContainerCrnr myUlCrnrImage"></div>
  <div id="divUrCrnrBrdrContainer00" class="myBrdrContainerCrnr myUrCrnrImage"></div>
  <div id="divLlCrnrBrdrContainer00" class="myBrdrContainerCrnr myLlCrnrImage"></div>
  <div id="divLrCrnrBrdrContainer00" class="myBrdrContainerCrnr myLrCrnrImage"></div>
  <div id="jumbo1" class="jumbotron">

    <div id="divUlCrnrJumbo00" class="myJumboCrnr myUlCrnrJumboImage"></div>
    <div id="divUrCrnrJumbo00" class="myJumboCrnr myUrCrnrJumboImage"></div>
    <div id="divLlCrnrJumbo00" class="myJumboCrnr myLlCrnrJumboImage"></div>
    <div id="divLrCrnrJumbo00" class="myJumboCrnr myLrCrnrJumboImage"></div>
    <div id="divTlineJumbo00" class="myJumboTopBotLine"></div>
    <div id="divBlineJumbo00" class="myJumboTopBotLine"></div>
    <div id="divLlineJumbo00" class="myJumboLeftRightLine"></div>
    <div id="divRlineJumbo00" class="myJumboLeftRightLine"></div>
    <div id="divTabCollapse00"></div>

    <section id="secContainer">
      <!--
        <!--[if IE]>
          <div id="ieCube">
            <figure id='ieFigFront' class="ieOnFront"></figure>
            <figure id='ieFigBottom' class="ieOnBottom"></figure>
            <figure id='ieFigBack' class="ieOnBack "></figure>
            <figure id='ieFigTop' class="ieOnTop"></figure>
          </div>
        <![endif]>
        <![if !IE]>
          <div id="divCube" class="show-front">
            <figure id='figFront' class="front"></figure>
            <figure id='figBottom' class="bottom"></figure>
            <figure id='figBack' class="back"></figure>
            <figure class="right"></figure>
            <figure class="left"></figure>
            <figure id='figTop' class="top"></figure>
          </div>
        <![endif]>
      -->
    </section>

  </div>

  <div id="divAutoMan">
    <table style="margin:0 auto;background-color:#ccc;border:1px solid black;">
      <tr id="trRotateMode" style="border-bottom:1px solid black;">
        <td colspan="2" style="text-align:center;margin-top:2px;font-size:11px;font-weight:bold;font-style:italic;">
          Rotate&nbsp;Mode
        </td>
      </tr>
      <tr id="trAutoManual" style="border-bottom:none;">
        <td style="text-align:right;padding:3px;border-right:2px solid transparent;">
          <span id="spnAuto" class="myBtn myBtnSet">&nbsp;&nbsp;&nbsp;Auto&nbsp;&nbsp;&nbsp;</span>
        </td>
        <td style="text-align:left;padding:3px;">
          <span id="spnManual" class="myBtn myBtnClear">Manual</span>
        </td>
      </tr>
      <tr id="trManual" style="visibility:hidden;display:none;">
        <td id="tdRotateDown" style="text-align:right;padding:3px;border-right:2px solid transparent;visibility:hidden;">
          <span id="spnRotateDown" class="myBtn myBtnClear">&darr; Rotate Down</span>
        </td>
        <td id="tdRotateUp" style="text-align:left;padding:3px;visibility:hidden;">
          <span id="spnRotateUp" class="myBtn myBtnClear">&nbsp;&uarr;Rotate Up&nbsp;</span>
        </td>
      </tr>
    </table>
  </div>

</div>
<div id="myRow" class="row myRow">

  <div id="col1" class="col-md-4 myColMd4Left">
    <div id="divTopLineCol1_00" class="myColTopBotLine myTopLineCol"></div>
    <div id="divBotLineCol1_00" class="myColTopBotLine myBotLineCol"></div>
    <div id="divLeftLineCol1_00" class="myColLeftRightLine myLeftLineCol"></div>
    <div id="divRightLineCol1_00" class="myColLeftRightLine myRightLineCol"></div>
    <div id="divUlCol1_00" class="myColCorner myUlCrnrImage myUlColCorner"></div>
    <div id="divUrCol1_00" class="myColCorner myUrCrnrImage myUrColCorner"></div>
    <div id="divLlCol1_00" class="myColCorner myLlCrnrImage myLlColCorner"></div>
    <div id="divLrCol1_00" class="myColCorner myLrCrnrImage myLrColCorner"></div>
    <div id="divCol1Wrap" style="clear:both;position:relative;top:0;left:0;">
      <div>
        <h2 style="margin-left:25px">Drag and Drop I</h2>
        <div class="myColTextDiv">
          <p>
            <u><b>Old School: Drag and Drop Demo One</b></u>
          </p>
          <p>
            HTML table element based <b><i>Drag and Drop</i></b> has been around for a long time.  It is implemented here using
            a browser's <b><i>"mousedown"</i></b>, <b><i>"mousemove"</i></b> and <b><i>"mouseup"</i></b> events, in conjunction with basic HTML document object model functionality and a heavy dose of <b><i>jQuery</i></b>.
          </p>
          <p>
            This technique is actually quite combersome, with a lot of fiddling with table rows.  The other Drag and Drop demos attempt to leverage the functionality of UI frameworks for improved implementation.
          </p>
          <p>
            Still, I admit to being rather pleased with the result.
          </p>
          <p style="margin-bottom:0"><a class="btn btn-default btn-custom-vw" style="margin-left:35px;" href="/Demo/StatesOne">DnD Demo I &raquo;</a><br />&nbsp;</p>
        </div>
      </div>
    </div>
    <div id="spacerdiv1" style="clear:both;position:relative;top:0;left:0;background-color:transparent;z-index:1;display:none;">
      <img id="spacerimg1" src="~/Images/spacer.gif" height="1" width="1" style="position:absolute;top:0;left:0;z-index:1;display:none;" />
    </div>
  </div>

  <div id="col2" class="col-md-4 myColMd4Center">
    <div id="divTopLineCol2_00" class="myColTopBotLine myTopLineCol"></div>
    <div id="divBotLineCol2_00" class="myColTopBotLine myBotLineCol"></div>
    <div id="divLeftLineCol2_00" class="myColLeftRightLine myLeftLineCol"></div>
    <div id="divRightLineCol2_00" class="myColLeftRightLine myRightLineCol"></div>
    <div id="divUlCol2_00" class="myColCorner myUlCrnrImage myUlColCorner"></div>
    <div id="divUrCol2_00" class="myColCorner myUrCrnrImage myUrColCorner"></div>
    <div id="divLlCol2_00" class="myColCorner myLlCrnrImage myLlColCorner"></div>
    <div id="divLrCol2_00" class="myColCorner myLrCrnrImage myLrColCorner"></div>
    <div id="divCol2Wrap" style="clear:both;position:relative;top:0;left:0;">
      <div>
        <h2 style="margin-left:25px">Drag and Drop II</h2>
        <div class="myColTextDiv">
          <p>
            <u><b>jQuery UI: Drag and Drop Demo Two</b></u>
          </p>
          <p>
            This demo is implemented using a <a href="https://api.jqueryui.com/sortable/"><b>Sortable widget</b></a> from the <b><i>jQuery UI</i></b> framework.
          </p>
          <p>
            This approach takes slightly less code than the <i>Old School</i> table based implementation in demo one.
          </p>
          <p>
            However, using a framework requires a great deal of studying the framework code internals in order to get anything done that is not exactly <i>"out-of-the-box"</i>. 
          </p>
          <p>
            Thus, the actual effort for this demo exceeded that required to implement <i>Demo One</i>.
          </p>
          <p style="margin-bottom:0"><a class="btn btn-default btn-custom-vw" style="margin-left:35px;" href="/Demo/StatesTwo">DnD Demo II &raquo;</a><br />&nbsp;</p>
        </div>
      </div>
    </div>
    <div id="spacerdiv2" style="clear:both;position:relative;top:0;left:0;background-color:transparent;z-index:1;display:none;">
      <img id="spacerimg2" src="~/Images/spacer.gif" height="1" width="1" style="position:absolute;top:0;left:0;z-index:1;display:none;" />
    </div>
  </div>

  <div id="col3" class="col-md-4 myColMd4Right">
    <div id="divTopLineCol3_00" class="myColTopBotLine myTopLineCol"></div>
    <div id="divBotLineCol3_00" class="myColTopBotLine myBotLineCol"></div>
    <div id="divLeftLineCol3_00" class="myColLeftRightLine myLeftLineCol"></div>
    <div id="divRightLineCol3_00" class="myColLeftRightLine myRightLineCol"></div>
    <div id="divUlCol3_00" class="myColCorner myUlCrnrImage myUlColCorner"></div>
    <div id="divUrCol3_00" class="myColCorner myUrCrnrImage myUrColCorner"></div>
    <div id="divLlCol3_00" class="myColCorner myLlCrnrImage myLlColCorner"></div>
    <div id="divLrCol3_00" class="myColCorner myLrCrnrImage myLrColCorner"></div>
    <div id="divCol3Wrap" style="clear:both;position:relative;top:0;left:0;">
      <div>
        <h2 style="margin-left:25px">Web Hosting</h2>
        <div class="myColTextDiv">
          <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
          <p style="margin-bottom:0"><a class="btn btn-default btn-custom-vw" style="margin-left:35px;" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a><br />&nbsp;</p>
        </div>
      </div>
    </div>
    <div id="spacerdiv3" style="clear:both;position:relative;top:0;left:0;background-color:transparent;z-index:1;display:none;">
      <img id="spacerimg3" src="~/Images/spacer.gif" height="1" width="1" style="position:absolute;top:0;left:0;z-index:1;display:none;" />
    </div>
  </div>

</div>
